@font-face {
    font-family: 'Gila';
    src: local('Gila'), url(../assets/GILA/Gila.otf) format('opentype');
}

h1,
h2,
h4 {
    text-align: center;
    color: #fff;
}

.centrarJust {
    display: flex;
    justify-content: center;
}

.tituloPrincipal {
    display: flex;
    justify-content: flex-start;
    font-family: NextBro;
    font-size: 10rem;
    color: #ffffff;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.margenTopInicial {
    margin-top: 4rem;
}

.creacion {
    margin-left: 5rem;
    margin-right: 5rem;
    border-top: 2px solid white;
    margin-top: 20px;
}

p {
    color: #ffffff;
}

.margengrande {
    margin-top: 8rem;
    color: #ffffff;
}

.blando {
    margin-top: 10rem;
    color: #ffffff;
}

.bottom {
    margin-bottom: 10rem;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginacion button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}