@font-face {
    font-family: 'Gila';
    src: local('Gila'), url(../assets/GILA/Gila.otf) format('opentype');
}

@keyframes rotateColors {
    0% {
      border-image-source: linear-gradient(to right, #ff0000, #00ff00);
    }
    25% {
      border-image-source: linear-gradient(to right, #00ff00, #0000ff);
    }
    50% {
      border-image-source: linear-gradient(to right, #0000ff, #ff00ff);
    }
    75% {
      border-image-source: linear-gradient(to right, #ff00ff, #ff0000);
    }
    100% {
      border-image-source: linear-gradient(to right, #ff0000, #00ff00);
    }
  }

h1,
h4 {
    text-align: center;
    color: #fff;
}

.centrarJust {
    display: flex;
    justify-content: center;
}

.tituloPrincipal {
    position: center;
    justify-content: flex-start;
    font-family: Gila;
    font-size: 8rem;
    color: #ffffff;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.margenTopInicial {
    margin-top: 4rem;
}

.creacion {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 4rem;
    border-top: 10px solid transparent; /* Establece el grosor del borde y lo hace transparente */
    border-image: linear-gradient(to right, #ff0000, #00ff00); /* Aplica un gradiente lineal al borde */
    border-image-slice: 1; /* Asegura que el gradiente cubra todo el borde */
    border-image-width: 5px; /* Ancho del borde */
    border-image-repeat: stretch; /* Repite el gradiente para cubrir todo el borde */
    animation: rotateColors 3s linear infinite; /* Aplica la animación */
    margin-top: 4rem;
}

.contieneC
{
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

h2, p {
    color: #ffffff;
}

.margengrande {
    margin-top: 8rem;
    color: #ffffff;
}

.blando {
    margin-top: 10rem;
    color: #ffffff;
}

.bottom {
    margin-bottom: 10rem;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginacion button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.creacionProyecto{
    font-size: 3rem;
}
